body{
  background-color: #17253a;
  color: white;
}

.btn{
    border-radius: 21px;
    padding: 0px 20px;
    margin-top: 10px;
    color: #aaaaaa;
    background-color: #2e2b2e;
    font-size: medium;
}

.filler-content{
    color:beige;
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-kerning: normal;    
}